- title "Minha Aposta"
%h2 Minha Aposta

%p <b id="user_bet_count">#{@user.bets.count}</b> / #{Game.count} jogos apostados.

%p
  Pontuação Total: 
  %b #{pluralize Bet.sum(:points, :conditions => {:user_id => @user.id}), 'ponto', 'pontos'}

- unless @user.paid?
  - unless @user.paying?
    %p
      %b Você ainda não pagou sua aposta!
      %b= link_to 'Pagar agora?', new_payment_path
  - else
    %p
      %b Aposta paga, aguardando confirmação...
      = link_to 'Mais informações', new_payment_path

%p.small Ordenação: #{link_to 'ascendente', my_bet_path} ou #{link_to 'descendente', my_bet_path(:order => 'DESC')}

%p.small Horários dos jogos de acordo com a hora de Brasília.

- @games.each do |game|
  - bet = Bet.find_or_initialize_for(@user, game)
  = render :partial => 'game_bet', :locals => {:bet => bet}

