- title "Usuários"
%h2 Usuários

%h3 Ranking

%table.nice
  %thead
    %tr
      %th &nbsp;
      %th Nome
      %th Palpites
      %th Perguntas
      %th Pontos
      %th Pagou?
      %th{ :colspan => 3 }
  
  %tbody
    - count = 1
    - @users.each_with_index do |user, i|
      %tr{ :class => cycle(:odd, :even) }
        %td #{count}º
        %td= link_to user.name, user
        %td= user.bets_count
        %td= user.bonus_bets_count
        %td= user.points_cache
        %td.center= yes_or_no(user.paid?)
        %td.small= link_to 'Mais informações', user
        - if user_signed_in? && current_user == user
          %td.small
            %b= link_to 'Editar', edit_user_registration_path
      - count += 1 if @users[i + 1] && user.points_cache != @users[i + 1].points_cache      

%h3 Evolução

#chart
= users_evolution_graph(@game_ids, @users_by_name)
