- title "Usuários"
%h2 Usuários

%table.nice
  %thead
    %tr
      %th &nbsp;
      %th Nome
      %th Palpites
      %th Perguntas
      %th Pontos
      %th Pagou?
      %th{ :colspan => 3 }
  
  %tbody
    - count = 0
    - for user in @users
      - count += 1
      %tr{ :class => cycle(:odd, :even) }
        %td #{count}º
        %td= link_to user.name, user
        %td= user.bets_count
        %td= user.bonus_bets_count
        %td= user.points_cache
        %td.center= yes_or_no(user.paid?)
        %td.small= link_to 'Mais informações', user
        - if user_signed_in? && current_user == user
          %td.small
            %b= link_to 'Editar', edit_user_registration_path
        - if admin_signed_in?
          %td.small= link_to 'Apagar', user_registration_path, :confirm => 'Tem certeza?', :method => :delete

