%h3 Estatísticas

%ul
  %li #{@games_count} jogos cadastrados
  %li #{@users_count} apostadores (#{@paid_users_count} pagantes)
  %li #{@bets_count} palpites preenchidos (de #{@possible_bets_count} possíveis)
  %li #{@bonus_bets_count} pergunta bônus respondidas (de #{@possible_bonus_bets_count} possíveis)
  %li #{@points_count} pontos marcados
  %li
    %b #{number_to_currency @total_prize} de premiação
    (potencialmente #{number_to_currency @potential_prize})

%h3 Dicas

%ul
  %li Chances das seleções em diversas casas de apostas:
  %ul
    %li= link_to 'OddsChecker', 'http://www.oddschecker.com/football/internationals/world-cup/world-cup/world-cup/win-market/'
  %li Previsões de bancos de investimento:
  %ul
    %li= link_to 'Goldman Sachs', 'http://www2.goldmansachs.com/ideas/global-economic-outlook/the-world-cup-2010.html'
    %li= link_to 'JP Morgan', 'http://www.scribd.com/doc/31537878/JP-Morgan-Quantitative-Guide-to-World-Cup-2010'
    %li= link_to 'UBS', 'http://www.ubs.com/1/e/bank_for_banks/news/topical_stories/edition_10.html'
    %li= link_to 'Danske', 'http://www.scribd.com/doc/32112498/Danske-Bank-World-Cup-2010-Special'
