%h3 Estatísticas

%ul
  %li #{@games_count} jogos cadastrados
  %li #{@users_count} apostadores (#{@paid_users_count} pagantes)
  %li #{@bets_count} palpites preenchidos (de #{@possible_bets_count} possíveis)
  %li #{@points_count} pontos marcados
  %li
    %b #{number_to_currency @total_prize} de premiação
    (potencialmente #{number_to_currency @potential_prize})

