%h3 Menu

#menu
  %ul
    %li.highlight
      - if user_signed_in? && current_user.has_bets?
        = link_to 'Minha Aposta', my_bet_path
      - else
        = link_to 'Apostar!', my_bet_path

%h3 Estatísticas

%ul
  %li #{@games_count} jogos cadastrados
  %li #{@users_count} apostadores (#{@paid_users_count} pagantes)
  %li #{@bets_count} palpites preenchidos (de #{@possible_bets_count} possíveis)
  %li #{@bonus_bets_count} pergunta bônus respondidas (de #{@possible_bonus_bets_count} possíveis)
  %li #{@points_count} pontos marcados
  %li
    %b #{number_to_currency @total_prize} de premiação
    (potencialmente #{number_to_currency @potential_prize})
  %li
    #{@comments_count} comentários
    - if @last_comment
      (sendo o último por #{link_to @last_comment.user.name, user_path(@last_comment.user)} sobre o jogo #{link_to @last_comment.commentable.short_description, game_path(@last_comment.commentable)}, #{time_ago_in_words @last_comment.created_at} atrás)
