- title "Jogos"
%h2 Jogos

%p Todos os horários são referentes à hora de Brasília.

- if admin_signed_in?
  %p= link_to 'Novo jogo', new_game_path

%table.nice
  %thead
    %tr
      %th Código
      %th Fase
      %th Data
      %th Time A
      %th Gols A
      %th vs.
      %th Gols B
      %th Time B
      %th Pênaltis?
      %th Comentários
      %th{ :colspan => 2 }
  
  %tbody
    - for game in @games
      %tr{ :class => cycle(:odd, :even) }
        %td= link_to game.id, game
        %td= game.stage
        %td= l game.played_at, :format => :game
        %td.right
          = game.team_a.name
          = team_flag(game.team_a)
        %td.center= game.goals_a
        %td.center x
        %td.center= game.goals_b
        %td.left
          = team_flag(game.team_b)
          = game.team_b.name
        %td.center= yes_or_no(game.penalty?)
        %td.center= game.comments_count
        %td.small= link_to 'Mais informações', game
        - if admin_signed_in?
          %td.small= link_to 'Editar', edit_game_path(game)

