%h2 Jogos

%p Todos os horários são referentes à hora de Brasília.

%p= link_to 'Novo jogo', new_game_path

%table
  %thead
    %tr
      %th Código
      %th Data
      %th Time A
      %th Gols A
      %th vs.
      %th Gols B
      %th Time B
      %th Empate?
      %th Fase
      %th Pênaltis?
      %th{ :colspan => 3 }
  
  %tbody
    - for game in @games
      %tr{ :class => cycle(:odd, :even) }
        %td= game.id
        %td= l game.played_at, :format => :game
        %td
          = team_flag(game.team_a)
          = link_to game.team_a.name, game.team_a
        %td= game.goals_a
        %td x
        %td= game.goals_b
        %td
          = team_flag(game.team_b)
          = link_to game.team_b.name, game.team_b
        %td= yes_or_no(game.tie?)
        %td= game.stage
        %td= yes_or_no(game.penalty?)
        %td= link_to 'Ver', game
        %td= link_to 'Editar', edit_game_path(game)
        %td= link_to 'Apagar', game, :confirm => 'Tem certeza?', :method => :delete

