- title "Jogo ##{@game.id}"

%h2 Jogo ##{@game.id}

%h3
  = @game.team_a.name
  = team_flag(@game.team_a)
  = @game.goals_a
  x
  = @game.goals_b
  = team_flag(@game.team_b)
  = @game.team_b.name

- if !@game.group_game? && @game.penalty?
  %h4
    Pênaltis:
    = @game.team_a.name
    = team_flag(@game.team_a)
    = @game.penalty_goals_a
    x
    = @game.penalty_goals_b
    = team_flag(@game.team_b)
    = @game.team_b.name

%p
  %strong Fase:
  = @game.stage

%p
  %strong Data:
  = l @game.played_at, :format => :game

%p
  %strong Local:
  #{@game.stadium}, #{@game.city}

- if admin_signed_in?
  %b Admin:
  %ul
    %li Fase de grupos? #{yes_or_no @game.group_game?}
    %li Pode apostar ainda? #{yes_or_no @game.bettable?}
    %li Já foi jogado? #{yes_or_no @game.played?}
    %li Tem gols anotados? #{yes_or_no @game.has_goals?}
    - if @game.has_goals?
      %li Empate? #{yes_or_no @game.tie?}
      %li Vencedor: #{@game.winner.try(:name)}
      %li Perdedor: #{@game.loser.try(:name)}
      %li Penaltys? #{yes_or_no @game.penalty?}

- if admin_signed_in?
  %p.admin_links
    = link_to 'Editar', edit_game_path(@game)
    = link_to 'Apagar', @game, :confirm => 'Tem certeza?', :method => :delete

%p.links
  = link_to 'Voltar', games_path

%h2 Apostas

%table.nice
  %thead
    %tr
      %th Usuário
      %th{:colspan => 5} Palpite
  %tbody
    - for bet in @bets
      %tr{:class => cycle(:odd, :even)}
        %td= link_to bet.user.name, bet.user
        %td.right
          #{bet.game.team_a.name} #{team_flag(bet.game.team_a)}
          - if !bet.game.group_game? && bet.penalty?
            %br
            %i Penaltys:
        %td.center
          = bet.goals_a
          - if !bet.game.group_game? && bet.penalty?
            %br
            = bet.penalty_goals_a
        %td.center
          x
          - if !bet.game.group_game? && bet.penalty?
            %br
            x
        %td.center
          = bet.goals_b
          - if !bet.game.group_game? && bet.penalty?
            %br
            = bet.penalty_goals_b
        %td.left
          #{team_flag(bet.game.team_b)} #{bet.game.team_b.name}
          - if !bet.game.group_game? && bet.penalty?
            %br
            &nbsp;

